/* AnimatedLogin.css */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.ring-hover:hover .ring1::before {
  border-color: #00ff0a;
  filter: drop-shadow(0 0 20px #00ff0a);
}

.ring-hover:hover .ring2::before {
  border-color: #ff0057;
  filter: drop-shadow(0 0 20px #ff0057);
}

.ring-hover:hover .ring3::before {
  border-color: #fffd44;
  filter: drop-shadow(0 0 20px #fffd44);  
}

.ring1, .ring2, .ring3 {
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50%;
}

.ring1::before, .ring2::before, .ring3::before {
  content: '';
  position: absolute;
  inset: -3px;
  border: 6px solid;
  border-radius: inherit;
  background: linear-gradient(45deg, #ff357a, #fff172, #ff0000, #ff0000, #ff0000);
  background-size: 300% 300%;
  animation: animateBg 3s linear infinite;
  z-index: -1;
  -webkit-mask: 
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.ring1 {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate1 6s linear infinite;
}

.ring2 {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 4s linear infinite;
}

.ring3 {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate3 10s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
