@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply p-2 bg-purple-500 text-white text-center;
  }
}

.empty-cart-message {
  text-align: center;
  font-size: 50px;
  color: #ff0000;
}

.btn {
  border-radius: 9999px;
  background-color: #1f2937;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  transition: background-color 0.7s ease;
}

.btn:hover {
  background-color: #ff0000;
}

/* Profile start */

body {
  background-image: url("path-to-your-background-image.jpg");
  background-size: cover;
  background-position: center;

  height: 100vh;
}

.profile-card {
  width: 18rem;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid transparent;
  border-radius: 8px;
  background-origin: border-box;
  background-clip: border-box;
  background-image: linear-gradient(#092866, #092866),
    linear-gradient(to right, #ff00cc, orange);
  background-clip: padding-box, border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.logout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2222f8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ff0000;
}

.profile-container {
  position: relative;
  height: 86vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/realistic-neon-lights-background_23-2148907367.jpg?w=826&t=st=1726845570~exp=1726846170~hmac=ce585557bf02049093c67660b3dd2c8b76cb3677c8c70a28c2178e109e0bffbf");
  background-size: cover;
  background-position: center;
}

.profile-card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Profile End */

.profile-card {
  width: 18rem;
  margin: 20px auto;
  padding: 20px;
  border: 7px solid transparent;
  border-radius: 40px;
  background-origin: border-box;
  background-clip: border-box;
  background-image: linear-gradient(#092866, #092866),
    linear-gradient(to right, orange, #3333ff);
  background-clip: padding-box, border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: white;
}

.profile-card h5,
.profile-card p,
.profile-card strong {
  color: white;
}

.logout-btn {
  background-color: #ff2898;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff2b2b;
}
